body {
	font-family: system-ui;
}
input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
}
.button {
	background-color: rgb(91, 91, 235);
	padding: 15px 32px;
	border-radius: 5px;
	color: white;
	font-family: system-ui;
}
#transactionBtn {
	background-color: whitesmoke;
	padding: 15px 32px;
	border-radius: 5px;
	color: black;
	font-family: system-ui;
}
.button.danger {
	background: red;
	color: white;
}
.button.warning {
	background: rgb(255, 208, 0);
	color: black;
}
.success {
	background: rgb(0, 200, 0);
	color: black;
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background: black;
	}
}
