input#todo-input,
input#deleter-input,
select,
input[type='date'],
input[type='time'] {
  height: 3pc;
  border-radius: 1pc;
  border: none;
  margin-right: 2pc;
}

:disabled {
  background-color: #666666;
  color: black;
  cursor: not-allowed;
}
:disabled:hover {
  opacity: 100%;
}

input[type='submit'],
button {
  padding: 1.5pc 3.2pc;
  border: none;
  color: white;
  font-family: inherit;
  background: #2d2dc5;
  border-radius: 1pc;
  opacity: 1;
  transition: opacity 0.3s ease;
}

select, input[type="text"] {
  font-family: inherit;
}

input[type='submit'].danger,
button.danger {
  padding: 1.5pc 3.2pc;
  border: none;
  color: white;
  font-family: inherit;
  background: #e71f1f;
  border-radius: 1pc;
}

li.high-priority::marker {
  color: red;
}

li.medium-priority::marker {
  color: #289428;
}

li.low-priority::marker {
  color: teal;
}

body {
  font-family: system-ui;
  color: white;
  background: #020024;
  background-color: #020024;
}

button:hover,
input[type="submit"]:hover {
  opacity: 0.5;
}

body {
  background: #020024;
  background: -moz-linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgb(0, 102, 255) 100%);
  background: -webkit-linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgb(0, 102, 255) 100%);
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgb(0, 102, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#00d4ff", GradientType=1);
}