<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Mi app de React.js">
        <title>Mi app de React</title>
        <link rel="stylesheet" href="/css/css-dist/base.min.css">
    </head>
    <body>
        <noscript>
            ¡Se requiere JavaScript activado para que la aplicación funcione correctamente!
        </noscript>
        <div id="root"></div>
    </body>
</html>