<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Reloj</title>
		<meta name="description" content="¿Qué hora será?" />
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="¿Sabes qué hora es?" />
        <style>@media(prefers-color-scheme:dark){body{color:white;background-color:black;}}body{font-family:system-ui}</style>
	</head>
	<body>
		<noscript>
			¡Se requiere JavaScript activado para que la aplicación funcione
			correctamente!
		</noscript>
		<div id="root"></div>
	</body>
</html>
