/* stylelint-disable indentation */

@import url("/css/css-dist/base.min.css");

body {
    font-family: system-ui;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.child {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.1pc solid gray;
	background: #00befd;
	color: black;
	padding: 1pc;
}

.child-1 {
	grid-column: 1 / span 2;
}

.child-12 {
	grid-column: 1 / span 2;
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav {
	height: 80px;
	width: 100%;
}

label.logo {
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: white !important;
	font-size: 17px;
	text-transform: uppercase;
}
