@font-face {
    font-family: 'Orbitron';
    src: url(orbitron.ttf);
}
body {
    font-display: fallback;
}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
#digital {
    font-family: 'Orbitron', monospace;
    color: #00ff00;
    font-size: 4pc;
}
.analog {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    /*  background: url(clock.jpg) no-repeat;*/
    background-size: 100%;
    border-radius: 50%;
    border: green solid 0.1pc;
}
#hour, #minute, #second {
    position: absolute;
    background: gray;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}
#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
    background: red;
}