@import url("/css/css-dist/base.min.css");

.rainbow {
  width: 32pc;
  height: 2pc;
  background:
    linear-gradient(
      to right,
      red,
      orange,
      yellow,
      #0f0,
      blue,
      #af06af
    );
  transition: rainbow 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rainbow {
  100% {
    background:
      linear-gradient(
        to right,
        #af06af,
        blue,
        #0f0,
        yellow,
        orange,
        red
      );
  }
}

h1 {
  text-align: center;
}
